/* 

 Basic styles for FoundationPress demo site

*/
li {
	list-style: none !important;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(0);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}


// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: white;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: white;
}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}

 // Hero

#homepage-hero {
	background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
	padding: rem-calc(20) 0;
	margin: - rem-calc(32) 0 rem-calc(32);
	position: relative;
	text-align: left;
	height: auto;

		h1 a, h4 { color: #fff; }

		.floatingyeti img {
			max-width: 30%;
			position: absolute;
			right: rem-calc(100);
		}

		.download { margin-top: rem-calc(20); }
	}
	
// Edits

@import url(http://weloveiconfonts.com/api/?family=entypo);
/* brandico */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
	display: inline-block;
	color: $primary-color;
	
}
.current-page-ancestor,
.active {
	position: relative;
}

.top-bar-menu .current-page-ancestor:before,
.active:before {
	font-family: 'entypo', sans-serif;
	display: inline-block;
	color: $primary-color;
	content: "\2715";
	position: absolute;
	bottom: 39.5%;
	left: 4px;
	font-size: 19px;
	z-index: 100;
	width: 100%;
	
}


#menu-portfolio{
		.active:before{
			bottom: -0.5px;
			left: -20px;
			font-size: 14px;
		}
	}

.social{
	position: relative;
	top: -15px;
	margin-right: 10px;
	}
ul.title-area li{
	display: inline-block;
}

.title-area {
	.uppercase {
		text-transform: uppercase;
	}
	.top-bar-center{
		margin-top:  10px;
	}
	.name h1 a {
		padding-left: 2.125rem;
	}
}

// SideNav Menu
#menu-portfolio{
	li {
		
		margin-bottom: 20px;
		list-style: none;
		a {
			color: black;
			text-transform: uppercase;
		}
	}
}


//Portofolio
article{
	margin-bottom:2rem;
}
.entry-title,
.taxonomy-title{
	span {
		color: $primary-color;
		margin-right: 1rem;
	}
}
.entry-content{
position: relative;
	.entry-video{	
		
	}
}


.entry-link{
	$thumbnail-time:0.5s;
	transition: all $thumbnail-time;
	position: relative;
	.entypo-search{
	position: absolute;
	font-size: 50px;
	width: 100%;
	text-align: center;
	z-index: 1;
	opacity: 0;
	}
	.entry-title{
		transition: all $thumbnail-time;
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 0%;
		opacity: 0;
		z-index: 2;
		transition: all $thumbnail-time;
	}
	.entry-thumbnail{
	transition: all $thumbnail-time;
	width: 100%;
 	}
 	&:hover {
 	transition: all $thumbnail-time;
 		.entry-title{
 			transition: all $thumbnail-time;
 			opacity: 1;
 		}
 		.entypo-search{
 			opacity: 1;
 		}
 		.entry-thumbnail{
 			transition: all $thumbnail-time;
	 		opacity: 0.1;
	 		width: 100%;
	 	}

 	
 	}
}

#sidebar{
	@media #{$small-only} {
	margin: 20px 10%;
	width: 80%;
	 li {
	 	padding: 10px 10px;
		width: 100%;
		text-align: center;	
		margin-left: 0px;
		a {
			font-size: 12px;
			font-weight: bold;
		}
	}
	 .active{
	 		background-color: $primary-color;
	 		&:before{display: none;}
	 		a {
		 		color: white;
	 		}
		}
	
	}

	@media #{$medium-only} {
	 li {
		display: inline-block;
		margin-left: 50px;
	}
	}

	@media #{$large-up} {
	margin-top: 120px;
	position: fixed;
	
	li{margin-left: 0px;}

	}
	}
